.navbar {
  border-bottom: 1px solid #757272;
  padding: 20px 0;
  //   position: sticky;
  & .navbar-elements {
    max-width: 90%;
    margin: 0 15%;
    // height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-elements_categories {
    margin: 0 120px 0 80px;
    list-style-type: none;
    display: flex;
    li {
      font-size: 16px;
    }
  }

  .navbar-elements_search {
    font-size: 25px;
  }

  .search-container {
    width: 20%;
    padding: 20px;
    margin: 20px auto 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: space-between;

    input {
      width: 80%;
    }
  }
}
