footer {
  margin: 15px auto;
  width: 1132px;
  .table-container {
    display: flex;
    justify-content: space-between;
    gap: 75px;
    .footer-table-content-container {
      margin: 0;
      margin-top: 10px;
      padding: 0;
      font-size: 20px;
      font-weight: 700;
      display: flex;
      gap: 18px;
      flex-direction: column;
      a {
        text-decoration: underline;
        color: black;
        &:hover {
          color: #d92231;
        }
      }

      .tab-title {
        font-size: 19px;
      }

      .tab-content-container {
        font-size: 16px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        max-height: 230px;
        display: flex;
        gap: 15px;
        column-gap: 60px;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
  }

  .usefull-links {
    margin: 25px auto;
    display: flex;
    gap: 10px;

    li {
      border-right: 1px solid #757272;
      &:last-child {
        border-right: none;
      }
    }

    a {
      font-weight: 700;
      color: black;
      padding-right: 10px;

      &:hover {
        color: #d92231;
      }
    }
  }

  .credits {
    font-size: 14px;
    font-weight: 300;
  }
}
