.content {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  text-decoration-thickness: 0.0625em;
  text-underline-offset: 0.05em;
  font-weight: 300;
  margin: 0 auto;

  .subtitle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    // padding: 10px auto;
    //   .button-centered {}
    p {
      font-size: 34px;
    }
  }
  .paragraph {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0 0;
    font-size: 24px;
    // text-align: center;
  }

  .second-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    // padding: 10px auto;
    //   .button-centered {}
    p {
      font-size: 34px;
    }
    .small-paragraph {
      font-size: 16px;
      font-weight: 500;
      width: 90%;
    }
  }
}
