.fourth-content-container {
  padding: 30px 30px;
  max-height: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  a.fourth-section-a-tag {
    width: fit-content;
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: fit-content;
    // &:hover {
    //   color: red;
    // }
  }
}
